.ScrollbarContent--horizontal {
  width: 100%;
  height: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  background: rgb(253, 253, 253);

  .ScrollbarContent--horizontal-columnContainer {
    white-space: nowrap;
  }

  .ScrollbarContent--horizontal-column {
    border-radius: 5px;
    font-size: 18px;
    background: #3498db;
    display: inline-block;
    width: 300px;
    margin: 1em;
    padding: 100px 0;
    text-align: center;
  }
}