@font-face {
    font-family: 'montserrat';
    src: url('./assets/montserrat-hairline-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}