@import "colors.scss";
@import "fonts.scss";
@import "typography.scss";

html {
  background: $secondary;
  color: $main;
  font-family: "montserrat", Helvetica, sans-serif;
  font-weight: lighter;
}

.App {
  width: 70%;
  margin: 2em auto;
}
